* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.banner-section {
    position: relative;
    min-height: 80vh; 
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    
}

.banner-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/images/Resized_EncabezadoBanner.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(10px); 
    z-index: -1; 
}

.banner-content {
    margin-bottom: 10rem;
    margin-left: 10rem;
    position: relative;
    z-index: 1; 
    color: white;
}

.custom-button:hover {
    background-color: #333333;
    transform: scale(1.05); 
}

.hero-button {
    background-color: #2C2F33;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.hero-button:hover {
    background-color: #1b1e21;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.hero-button:focus {
    background-color: #1b1e21;
    outline: none;
}

.hero-button:active {
    background-color: #121314;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
    transform: scale(0.98);
}

.underline-yellow {
    position: relative;
}

.underline-yellow::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Puedes ajustar este valor según tu preferencia */
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #e4e60b; /* Color amarillo de la línea */
    transition: width 0.3s ease;
}

.underline-yellow:hover::after {
    width: 100%;
}

.Equipos {
    background-image: url(./assets/images/platinum.webp);
}

.Servicio-tecnico{
    background-image: url(./assets/images/ServicioTecnico.webp);
}

.Insumos{
    background-image: url(./assets/images/Insumos.webp);
}

.ink-banner-section {
    position: relative;
    min-height: 80vh; 
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    
}

.ink-banner-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/images/inkBanner.webp') no-repeat center;
    background-size: cover;
    background-position: center; /* Ajusta este valor para subir o bajar */
    filter: blur(10px); 
    z-index: -1; 
}

/* Asegura que las cartas ocupen todo el ancho de la columna */
.ink-card {
    border-radius: 20px;
    overflow: hidden;
    min-height: 500px; /* Aumentar el tamaño mínimo de la tarjeta */
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra inicial suave */
    transition: box-shadow 0.3s ease; /* Definir transición en el estado normal */
  }

  /* Sombra más profunda cuando se hace hover */
  .ink-card:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en el hover */
  }
  
  
  /* Imagen como fondo de la tarjeta */
  .ink-image-as-background {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en la tarjeta */
    border-radius: 20px; /* Mantiene la imagen redondeada */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* Contenido dentro del overlay */
  .ink-content {
    background: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    border-radius: 20px; /* Redondear la tarjeta completa */
    color: white;
    padding-top: 20px; /* Añadir espacio interno al contenido */
    padding-bottom: 20px; /* Añadir espacio en la parte inferior */
  }
  
  .ink-button {
    opacity: 1;
    margin-top: 10px;
    background-color: transparent; /* Fondo transparente */
    border: white solid 1px; /* Borde blanco */
    color: white; /* Texto blanco */
  }
  
  /* Hover explícitamente vacío */
  .ink-button:hover {
    background-color: transparent; /* Sin cambio de fondo */
    color: white; /* Mantiene el color del texto */
    border: white solid 1px; /* Mantiene el borde */
  }

  
  